<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rely New Notification</title>
</head>
<body>
  <h1>Hello <%= name %>,</h1>
  <p>The new reply has been added on your  question in the  video <b><%= title %>.</b>  </p>
  <p>Please login to our website to view to reply and continue discuss.</p>
  <p>Thank you being a part of our community.</p>
</body>
</html>